/*_deps
/*_log
*_deps
*_log
Obj/Application/User/Core/*
**/**/**/**/**/**/**/**/**/**/*
**/**/**/**/**/**/**/**/**/*
**/**/**/**/**/**/**/**/*
**/**/**/**/**/**/**/*
**/**/**/**/**/**/*
**/**/**/**/**/*
**/**/**/**/*
**/**/**/*
**/**/*
**/*
*

*.dep
*.ewd
*.ewp
*.ewt
*.eww
*.bak
 
/*.dep
/*.ewd
/*.ewp
/*.ewt
/*.eww
/*.bak
!.gitignore